# Variables de entorno y secretos
.env

# Java y Maven
backend/target/
*.class
*.jar
*.war
*.log

# IntelliJ IDEA
.idea/
*.iml
out/

# Angular y Node
frontend/node_modules/
frontend/dist/
frontend/.angular/
npm-debug.log*

# Visual Studio Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.swp